<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Harmonify</title>
    <meta name="viewport" content="width=device-width, initial-scale=.9">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="left-side">
            <div id="profile">
                <a href="{{url}}"><img src="{{uPic}}" id='profileImage' height=64px alt="User Profile Picture"></a>
                    <div id="name">
                        <h4>Welcome, {{uName}}!</h4>
                        <h6><a href="{{url_for('sign_out')}}">Sign Out</a></h6>
                    </div>
            </div>
        <form id='parameters' method="GET" action="{{ url_for('data')}}">
            <div class="form-group">
                <label for="artistDuration">Artists Duration</label>
                <div class="ad-container">
                    <input class='ad-options' type="radio" name="artistDuration" id="ad-shortTerm" value="short_term">
                    <label for="ad-shortTerm" class="radio-option">Last 4 Weeks</label>
            
                    <input class='ad-options' type="radio" name="artistDuration" id="ad-mediumTerm" value="medium_term" checked>
                    <label for="ad-mediumTerm" class="radio-option">Last 6 Months</label>
            
                    <input class='ad-options' type="radio" name="artistDuration" id="ad-longTerm" value="long_term">
                    <label for="ad-longTerm" class="radio-option">All Time</label>
                </div>
            </div>            
            
            <div class="form-group">
                <label for="artistLimit">Artist Limit</label>
                <div class="aL-container">
                    <input class='al' type="radio" name="artistLimit" id="a10" value="10" checked>
                    <label for="a10" class="radio-option">Top 10</label>
            
                    <input class='al' type="radio" name="artistLimit" id="a25" value="25">
                    <label for="a25" class="radio-option">Top 25</label>
            
                    <input class='al' type="radio" name="artistLimit" id="a50" value="50">
                    <label for="a50" class="radio-option">Top 50</label>
                </div>
            </div>
            
            <div class="form-group">
                <label for="songDuration">Song Duration</label>
                <div class="sd-container">
                    <input class='sd-options' type="radio" name="songDuration" id="sd-shortTerm" value="short_term">
                    <label for="sd-shortTerm" class="radio-option">Last 4 Weeks</label>
            
                    <input class='sd-options' type="radio" name="songDuration" id="sd-mediumTerm" value="medium_term" checked>
                    <label for="sd-mediumTerm" class="radio-option">Last 6 Months</label>
            
                    <input class='sd-options' type="radio" name="songDuration" id="sd-longTerm" value="long_term">
                    <label for="sd-longTerm" class="radio-option">All Time</label>
                </div>
            </div> 
            
            <div class="form-group">
                <label for="songLimit">Song Limit</label>
                <div class="sL-container">
                    <input class='sl' type="radio" name="songLimit" id="s10" value="10" checked>
                    <label for="a10" class="radio-option">Top 10</label>
            
                    <input class='sl' type="radio" name="songLimit" id="s25" value="25">
                    <label for="s25" class="radio-option">Top 25</label>
            
                    <input class='sl' type="radio" name="songLimit" id="s50" value="50">
                    <label for="s50" class="radio-option">Top 50</label>
                </div>
            </div>
            
            <button type="submit" id="submitParameters">Update</button>
        </form>
            
                <button id = "playlistCreate" onclick="activateForm()">Generate Top 100 Playlist</button>
                <div id="createPlaylist" style="display: none;">
                    <form id="playlist" method="GET" action="{{url_for('makeTopPlaylist', time_range='')}}">
                        <div class="choices">
                            <input class="playlist-options" type="radio" id='short' name='time' value="short_term">
                            <label for="short" class="form-control">Last 4 Weeks</label>
                        </div>
                
                        <div class="choices">
                            <input class="playlist-options" type="radio" id='med' name='time' value="medium_term">
                            <label for="med" class="form-control">Last 6 Months</label>
                        </div>
                
                        <div class="choices">
                            <input class="playlist-options" type="radio" id='long' name='time' value="long_term">
                            <label for="long" class="form-control">All Time</label>
                        </div>
                
                        <button type="submit" id="playlistSubmit">Create</button>
                    </form>
                </div>
                <div class="footer">Data Provided by the <img id="footer-logo" width="16px" src="{{url_for('static', filename='spotifyicon.png')}}"> Spotify API
        </div>
    </div>

        <div class="right-side" id="right-side">
            <div class="tabs" id="tabs">
                <div class="tab" id="artistTab" onclick="openTab('artists')" style="background-color: rgb(212, 212, 212);">Artists</div>
                <div class="tab" id="songTab" onclick="openTab('songs')" style="background-color: rgb(212, 212, 212);">Songs</div>
            </div>
            <div id="artists" class="show">

                <h1>Top Artists</h1>
                {% if artists %}
                    <ol>
                        {% for artist in artists %}
                            <li>
                                <a href="{{artist.link}}"><strong>{{ artist.name }}</strong></a><br>
                                {% if artist.image_url %}
                                    <img src="{{ artist.image_url }}" alt="{{ artist.name }}" width="100" height="100">
                                {% else %}
                                    No Image Available
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ol>
                {% else %}
                    <p>No top artists found.</p>
                {% endif %}
            </div>

            <div id="songs" class="show">
                <h1>Top Songs</h1>
                
                {% if songs %}
                    <ol>
                        {% for song in songs %}
                            <li>
                                <a href="{{song.link}}"><strong>{{ song.name }} - {{song.artist}}</strong></a><br>
                                {% if song.cover %}
                                    <img src="{{ song.cover }}" alt="{{ song.name }}" width="100" height="100">
                                {% else %}
                                    No Image Available
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ol>
                {% else %}
                    <p>No Songs Found.</p>
                {% endif %}
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $("#parameters").submit(function(event) {
                event.preventDefault();
                var form = document.getElementById("parameters");
                var artistRange = form.elements['artistDuration'].value || 'medium_term';
                var artistLimit = form.elements['artistLimit'].value || 10;
                var songRange = form.elements['songDuration'].value || 'medium_term';
                var songLimit = form.elements['songLimit'].value || 10;

                // Construct the URL with query parameters using template literals
                var url = `{{ url_for('data') }}?artistRange=${artistRange}&artistLimit=${artistLimit}&songRange=${songRange}&songLimit=${songLimit}`;

                // Navigate to the constructed URL
                window.location.href = url;

            });

            $('#playlist').submit(function(event) {
                event.preventDefault();
                var time_range = document.querySelector('input[name="time"]:checked').value;
                var createPlistURL = "{{ url_for('makeTopPlaylist', time_range='__TIME_RANGE__') }}".replace('__TIME_RANGE__', time_range);
                window.location.href = createPlistURL
            })
        });

        var urlParams = new URLSearchParams(window.location.search);
        var artistRange = urlParams.get('artistRange');
        var songRange = urlParams.get('songRange');
        var artistAmount = urlParams.get('artistLimit');
        var songAmount = urlParams.get('songLimit');

        if (artistRange) {
            var adRadio = document.querySelector('.ad-container input[value="'+ artistRange +'"]');
            if (adRadio) {
                adRadio.checked = true
            }
        }

        if (songRange) {
            var sdRadio = document.querySelector('.sd-container input[value="'+ songRange +'"]');
            if (sdRadio) {
                sdRadio.checked = true
            }
        }
        if (artistAmount) {
            var alRadio = document.querySelector('.aL-container input[value="'+ artistAmount +'"]');
            if (alRadio) {
                alRadio.checked = true
            }
        }
        if (songAmount) {
            var slRadio = document.querySelector('.sL-container input[value="'+ songAmount +'"]');
            if (slRadio) {
                slRadio.checked = true
            }
        }
        var screenWidth = window.innerWidth;

        $(document).ready(function () {
            function handleResize() {
            var screenWidth = window.innerWidth;
            var artistsDiv = document.getElementById('artists');
            var songsDiv = document.getElementById('songs');
            var tabsDiv = document.getElementById('tabs');
            var tabElements = document.getElementsByClassName('tab');

            if (screenWidth > 1280) {
                artistsDiv.style.display = 'flex';
                songsDiv.style.display = 'flex';
                tabsDiv.style.display = "none";

                // Hide individual tab elements

                // Set flex direction to row
                artistsDiv.style.flexDirection = 'column';
                songsDiv.style.flexDirection = 'column';
            } else {
                document.getElementById('songTab').style.backgroundColor = 'rgb(212,212,212)';
                document.getElementById('artistTab').style.backgroundColor = '#3498db';
                artistsDiv.style.display = 'block';
                songsDiv.style.display = 'none';
                tabsDiv.style.display = "inline-block";

                // Set flex direction to column
                artistsDiv.style.flexDirection = 'column';
                songsDiv.style.flexDirection = 'column';
            }
        }

        // Initial call to set the correct display
        handleResize();

        // Event listener for window resize
        window.addEventListener('resize', function () {
            handleResize();
        });

        });

        function openTab(tabName) {
            if (tabName == "artists") {
                document.getElementById('artists').style.display = 'block';
                document.getElementById('songs').style.display = 'none';
                document.getElementById('songTab').style.backgroundColor = 'rgb(212,212,212)';
                document.getElementById('artistTab').style.backgroundColor = '#3498db';
            }
            if (tabName == 'songs') {
                document.getElementById('songs').style.display = 'block';
                document.getElementById('artists').style.display = 'none';
                document.getElementById('songTab').style.backgroundColor = '#3498db';
                document.getElementById('artistTab').style.backgroundColor = 'rgb(212,212,212)';
            }
            
        }

        function activateForm() {
            var x = document.getElementById('createPlaylist');
            if (x.style.display === 'none') {
                document.getElementById('createPlaylist').style.display = 'block'
            } else {
                document.getElementById('createPlaylist').style.display = 'none'
            }
        }

    </script>
</body>
</html>