<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Harmonify</title>
    <meta name="viewport" content="width=device-width, initial-scale=.9">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="left-side">
            <div id="profile">
                <a href="{{url}}"><img src="{{uPic}}" id='profileImage' height=64px alt="User Profile Picture"></a>
                    <div id="name">
                        <h4>Welcome, {{uName}}!</h4>
                        <h6><a href="{{url_for('sign_out')}}">Sign Out</a></h6>
                    </div>
            </div>
        <form id='parameters' method="GET" action="{{ url_for('data')}}">
            <div class="form-group">
                <label for="artistDuration">Artists Duration</label>
                <select name="artistDuration" id="artistRange">
                    <option value="short_term">Last 4 Weeks</option>
                    <option value="medium_term">Last 6 Months</option>
                    <option value="long_term">All Time</option>
                </select>
            </div>
            
            <div class="form-group">
                <label for="artistAmount">Artist Limit (Up to 50): </label>
                <input type="number" id="artistAmount" name="artistAmount" placeholder="0">
            </div>
            
            <div class="form-group">
                <label for="songDuration">Song Duration</label>
                <select name="songDuration" id="songRange">
                    <option value="short_term">Last 4 Weeks</option>
                    <option value="medium_term">Last 6 Months</option>
                    <option value="long_term">All Time</option>
                </select>
            </div>
            
            <div class="form-group">
                <label for="songAmount">Song Limit (Up to 50): </label>
                <input type="number" id="songAmount" name="songAmount" placeholder="0">
            </div>
            
            <button type="submit" id="submitParameters">Update</button>
        </form>
            
                <button id = "playlistCreate" onclick="activateForm()">Generate Top 100 Playlist</button>
                <div id="createPlaylist" style="display: none;">
                    <form id="playlist" method="GET" action="{{url_for('makeTopPlaylist', time_range='')}}">
                        <div class="choices">
                            <input type="radio" id='short' name='time' value="short_term">
                            <label for="short" class="form-control">Last 4 Weeks</label>
                        </div>
                
                        <div class="choices">
                            <input type="radio" id='med' name='time' value="medium_term">
                            <label for="med" class="form-control">Last 6 Months</label>
                        </div>
                
                        <div class="choices">
                            <input type="radio" id='long' name='time' value="long_term">
                            <label for="long" class="form-control">All Time</label>
                        </div>
                
                        <button type="submit" id="playlistSubmit">Create</button>
                    </form>
                </div>
                
        </div>

        <div class="right-side">
            <div class="tabs">
                <div class="tab" id="artistTab" onclick="openTab('artists')" style="background-color: rgb(212, 212, 212);">Artists</div>
                <div class="tab" id="songTab" onclick="openTab('songs')" style="background-color: rgb(212, 212, 212);">Songs</div>
            </div>
            <div id="artists" style="display: none;">

                <h1>Top Artists</h1>
                {% if artists %}
                    <ol>
                        {% for artist in artists %}
                            <li>
                                <a href="{{artist.link}}"><strong>{{ artist.name }}</strong></a><br>
                                {% if artist.image_url %}
                                    <img src="{{ artist.image_url }}" alt="{{ artist.name }}" width="100" height="100">
                                {% else %}
                                    No Image Available
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ol>
                {% else %}
                    <p>No top artists found.</p>
                {% endif %}
            </div>

            <div id="songs" style="display: none;">
                <h1>Top Songs</h1>
                {% if songs %}
                    <ol>
                        {% for song in songs %}
                            <li>
                                <a href="{{song.link}}"><strong>{{ song.name }} - {{song.artist}}</strong></a><br>
                                {% if song.cover %}
                                    <img src="{{ song.cover }}" alt="{{ song.name }}" width="100" height="100">
                                {% else %}
                                    No Image Available
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ol>
                {% else %}
                    <p>No Songs Found.</p>
                {% endif %}
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $("#parameters").submit(function(event) {
                event.preventDefault();
                var artistRange = $("#artistRange").val() || 'medium_term';
                var artistLimit = $("#artistAmount").val() || 10;
                var songRange = $("#songRange").val() || 'medium_term';
                var songLimit = $("#songAmount").val() || 10;

                // Construct the URL with query parameters using template literals
                var url = `{{ url_for('data') }}?artistRange=${artistRange}&artistLimit=${artistLimit}&songRange=${songRange}&songLimit=${songLimit}`;

                // Navigate to the constructed URL
                window.location.href = url;

            });

            $('#playlist').submit(function(event) {
                event.preventDefault();
                var time_range = document.querySelector('input[name="time"]:checked').value;
                var createPlistURL = "{{ url_for('makeTopPlaylist', time_range='__TIME_RANGE__') }}".replace('__TIME_RANGE__', time_range);
                window.location.href = createPlistURL
            })
        });

        var urlParams = new URLSearchParams(window.location.search);
        // Set the current values as placeholders in the form fields
        $("#artistRange").val(urlParams.get("artistRange") || 'medium_term');
        $("#artistAmount").attr("placeholder", urlParams.get("artistLimit") || '10');
        $("#songRange").val(urlParams.get("songRange") || 'medium_term');
        $("#songAmount").attr("placeholder", urlParams.get("songLimit") || '10');

        document.getElementById('artists').style.display = 'block';
        document.getElementById('songs').style.display = 'none';
        document.getElementById('artistTab').style.backgroundColor = '#3498db';

        function openTab(tabName) {
            if (tabName == "artists") {
                document.getElementById('artists').style.display = 'block';
                document.getElementById('songs').style.display = 'none';
                document.getElementById('songTab').style.backgroundColor = 'rgb(212,212,212)';
                document.getElementById('artistTab').style.backgroundColor = '#3498db';
            }
            if (tabName == 'songs') {
                document.getElementById('songs').style.display = 'block';
                document.getElementById('artists').style.display = 'none';
                document.getElementById('songTab').style.backgroundColor = '#3498db';
                document.getElementById('artistTab').style.backgroundColor = 'rgb(212,212,212)';
            }
            
        }

        function activateForm() {
            var x = document.getElementById('createPlaylist');
            if (x.style.display === 'none') {
                document.getElementById('createPlaylist').style.display = 'block'
            } else {
                document.getElementById('createPlaylist').style.display = 'none'
            }
        }

    </script>
</body>
</html>
